@import "../variables.less";

html {
    font-size: 16px;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: white;
    color: black;
    transition: background-color 1s ease-in;

    &.overflow-hidden {
        overflow: hidden;
    }
}

#app {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-bottom: env(safe-area-inset-bottom);
    font-family: Inter, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    a {
        line-height: 2rem;
        font-weight: bold;
        color: black;
        margin: 0 0.5rem;
        text-decoration: none;
        opacity: 0.4;
        transition: opacity 0.5s ease;

        &:hover {
            opacity: 1;
        }

        &.router-link-active {
            color: #42b983;
        }
    }
}

.view {
    flex: 1;
}

:fullscreen {
    body {
        background-color: black;
    }

    .nav {
        opacity: 0;
    }

    .wall {
        color: white;

        &-control {
            top: 1rem;
            bottom: auto;
            position: fixed;
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition-property: opacity;
    transition-duration: 0.25s;
}

.fade-enter-active {
    transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}
